<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:insert="head::head">
    <title></title>
</head>
<body>
<div class="container" th:insert="nav::nav"></div>
<div class="container"><h1>Welcome!</h1></div>
<div class="container">
    <form action="#" th:action="@{/add}" th:object="${new_activity}" method="post">
        <label class="form-label" for="date"></label>
        <input class="date input-group" type="datetime-local" th:field="*{dateTime}" id="date"/>
        <div class="input-group">
            <label class="form-label" for="sports">Sport</label>
            <select class="form-select" aria-label="Default select example"
                    id="sports" th:field="*{sport}">
                <option th:each="sport : ${T(com.jaworski.sportdiary.domain.Sport).values()}" th:value="${sport}"
                        th:text="${sport.getName()}"></option>
            </select>
        </div>
        <div class="input-group">
            <label class="form-label" for="distance">Distance</label>
            <input class="input-group" type="number" th:field="*{distance.distanceOf}" id="distance"/>
        </div>

        <div class="input-group">
            <label class="form-label" for="unit">Units</label>
            <select class="form-select" id="unit" th:field="*{distance.units}">
                <option th:each="unit : ${T(com.jaworski.sportdiary.domain.Units).values()}" th:value="${unit}"
                        th:text="${unit.name()}"></option>
            </select>
        </div>
        <div>
            <label class="form-label" for="duration">Duration</label>
            <input class="input-group" type="number" th:field="*{duration}" id="duration"/>
        </div>
        <input class="btn btn-outline-primary" type="submit" value="Submit"/>
        <input class="btn btn-outline-primary" type="reset" value="Reset"/>
    </form>
</div>
<div class="container" th:insert="foot::foot"></div>
</body>
</html>