<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:insert="head::head (title='add')">
    <title></title>
</head>
<body>
<div class="container" th:insert="nav::nav"></div>
<div class="container">
    <h1 class="text-center">Welcome!</h1>
</div>
<div class="row mb-2 ">
    <div class="col-4"></div>
    <div class="col-4 bg-gradient rounded-3 border-1 border border-white">
        <form action="#" th:action="@{/user/edit}" th:object="${activity}" method="post">
            <div>
                <input type="hidden" th:field="*{addedAt}" />
                <input type="hidden" th:field="*{id}" />
                <div class="form-group my-2">
                    <label for="date"></label>
                    <input class="date form-control" type="datetime-local" th:field="*{dateTime}" id="date"/>
                    <span class="text-danger" th:if="${#fields.hasErrors('dateTime')}" th:errors="*{dateTime}"></span>

                </div>
                <div class="form-group my-2">
                    <label for="sports">Sport</label>
                    <select class="form-select" aria-label="Default select example"
                            id="sports" th:field="*{sport}">
                        <option th:each="sport : ${T(com.jaworski.sportdiary.domain.enums.Sport).values()}"
                                th:value="${sport}"
                                th:text="${sport.getName()}"></option>
                    </select>
                </div>
                <div class="form-group my-2">
                    <label for="distance">Distance</label>
                    <input class="form-control" type="number" th:field="*{distance.distanceOf}" id="distance"/>
                    <span class="text-danger" th:if="${#fields.hasErrors('distance.distanceOf')}"
                          th:errors="*{distance.distanceOf}"></span>
                </div>

                <div class="form-group my-2">
                    <label for="unit">Units</label>
                    <select class="form-select" id="unit" th:field="*{distance.units}">
                        <option th:each="unit : ${T(com.jaworski.sportdiary.domain.enums.Unit).values()}"
                                th:value="${unit}"
                                th:text="${unit.name()}"></option>
                    </select>
                </div>
                <div class="form-group my-2">
                    <label for="duration">Duration</label>
                    <input class="form-control" type="number" th:field="*{duration}" id="duration"/>
                    <span class="text-danger" th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}"></span>
                </div>
                <div class="form-group my-4 text-center">
                    <input class="btn btn-outline-light" type="submit" value="Submit"/>
                    <input class="btn btn-outline-light" type="reset" value="Reset"/>
                </div>
            </div>
        </form>
    </div>
    <div class="col-4"></div>
</div>
<div class="container" th:insert="foot::foot"></div>
</body>
</html>