<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" th:src="@{/js/time.js}"></script>
    <script type="text/javascript" th:src="@{/js/langChange.js}"></script>

    <script type="text/javascript" th:src="@{/bootstrap/bootstrap.bundle.min.js}"></script>
</head>
<body onload="startTime()">
<div th:fragment="head (title)">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/bootstrap.min.css}"/>
</div>
</body>
</html>