<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:insert="head::head">
    <title></title>
</head>
<body>
<div class="container" th:insert="nav::nav"></div>
<div class="container"><h1>Welcome!</h1></div>
<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Sport</th>
            <th scope="col">Distance</th>
            <th scope="col">Duration</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="activity : ${activities}">
            <th scope="row" th:text="${activityStat.index}">1</th>
            <td th:text="${#temporals.format(activity.getDateTime(),'dd/MM/yyyy HH:mm')}">Mark</td>
            <td th:text="${activity.getSport().getName()}">Otto</td>
            <td th:text="${activity.getDistance().distanceOf + ' - ' + activity.getDistance().getUnits()}">Otto</td>
            <td th:text="${activity.getDuration().getSeconds()/60} + ' [minutes]'">Otto</td>
            <td>
                <a class="btn btn-primary mx-2" href="#" th:href="@{'/more?id=' + ${activity.getId()}}" role="button">More</a>
                <a class="btn btn-warning mx-2" href="#" th:href="@{'/delete?id=' + ${activity.getId()}}" role="button">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="container" th:insert="foot::foot"></div>
</body>
</html>