<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="head::head (title='index')">
    <title></title>
</head>
<body>
<div class="container" th:insert="nav::nav"></div>
<h1 class="container text-center" sec:authorize="isAuthenticated()"
    th:text="#{html.list.welcome(${#authentication.name})}"> Witaj
</h1>
<div class="row">
    <div class="col-4"></div>
    <div th:if="${save}" class="col-4 my-5 text-center alert alert-success alert-dismissible fade show"
         role="alert">
        <span class="btn-close" onclick="this.parentElement.style.display='none';
        location.href='/user';"></span>
        <strong><span class="my-4" th:text="#{html.list.save.ok}"></span></strong>
    </div>
    <div th:if="${error}" class="col-4 my-5 text-center alert alert-success alert-dismissible fade show"
         role="alert">
        <span class="btn-close" onclick="this.parentElement.style.display='none';
        location.href='/user';"></span>
        <strong><span class="my-4" th:text="#{html.list.error.ok}"></span></strong>
    </div>
    <div class="col-4"></div>
</div>
<div class="container">
    <nav aria-label="Page navigation example" th:unless="${activitiesPage eq null}">
        <div th:if="${activitiesPage.totalPages > 0}"
             class=" d-flex justify-content-center" sec:authorize="hasRole('ADMIN')">
            <ul class="pagination">
                <li th:if="${currentPage > 1}">
                    <a th:href="@{/user/list/all(size=${activitiesPage.size}, page=${currentPage}-1)}"
                       class="page-item btn btn-outline-dark m-2">&laquo;
                    </a>
                </li>
                <li th:each="pageNumber : ${pageNumbers}">
                    <a th:if="${activitiesPage.number + 1 eq pageNumber}"
                       th:href="@{/user/list/all(size=${activitiesPage.size}, page=${pageNumber})}"
                       th:text="${pageNumber}" class="page-item btn btn-outline-dark active m-2">
                    </a>
                    <a th:unless="${activitiesPage.number + 1 eq pageNumber}"
                       th:href="@{/user/list/all(size=${activitiesPage.size}, page=${pageNumber})}"
                       th:text="${pageNumber}" class="page-item btn btn-outline-dark m-2">
                    </a>
                </li>
                <li th:if="${ pageNumbers.size() > currentPage }">
                    <a th:href="@{/user/list/all(size=${activitiesPage.size}, page=${currentPage}+1)}"
                       class="page-item btn btn-outline-dark m-2">&raquo;
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col" class="text-center">#</th>
            <th scope="col" class="text-center" name="date">
                <form th:action="@{/user/list}" method="get" th:object="${listParam}" name="date">
                    <input hidden type="text" th:field="*{sort}" th:value="${listParam.setSort('DATE')}">
                    <input hidden th:if="${listParam.isAscending}" type="text" th:field="*{isAscending}"
                           th:value="${listParam.setIsAscending('false')}"/>
                    <input hidden th:unless="${listParam.isAscending}" type="text" th:field="*{isAscending}"
                           th:value="${listParam.setIsAscending('true')}"/>
                    <input type="submit" value="Date" class="btn btn-link text-black">
                </form>
            </th>
            <th scope="col" class="text-center" name="sport">
                <form th:action="@{/user/list}" method="get" th:object="${listParam}" name="sport">
                    <input hidden type="text" th:field="*{sort}" th:value="${listParam.setSort('SPORT')}">
                    <input hidden th:if="${listParam.isAscending}" type="text" th:field="*{isAscending}"
                           th:value="${listParam.setIsAscending('false')}"/>
                    <input hidden th:unless="${listParam.isAscending}" type="text" th:field="*{isAscending}"
                           th:value="${listParam.setIsAscending('true')}"/>
                    <input type="submit" value="Sport" class="btn btn-link text-black">
                </form>
            </th>
            <th scope="col" class="text-center">
                <form th:action="@{/user/list}" method="get" th:object="${listParam}">
                    <input hidden type="text" th:field="*{sort}" th:value="${listParam.setSort('DISTANCE')}">
                    <input hidden th:if="${listParam.isAscending.booleanValue()}" type="text" th:field="*{isAscending}"
                           th:value="${listParam.setIsAscending('false')}"/>
                    <input hidden th:unless="${!listParam.isAscending.booleanValue()}" type="text"
                           th:field="*{isAscending}"
                           th:value="${listParam.setIsAscending('true')}"/>
                    <input type="submit" value="DISTANCE" class="btn btn-link text-black">
                </form>
            </th>
            <th scope="col" class="text-center">
                <form th:action="@{/user/list}" method="get" th:object="${listParam}">
                    <input hidden type="text" th:field="*{sort}" th:value="${listParam.setSort('DURATION')}">
                    <input hidden th:if="${listParam.isAscending.booleanValue()}" type="text" th:field="*{isAscending}"
                           th:value="${listParam.setIsAscending('false')}"/>
                    <input hidden th:unless="${!listParam.isAscending.booleanValue()}" type="text"
                           th:field="*{isAscending}"
                           th:value="${listParam.setIsAscending('true')}"/>
                    <input type="submit" value="Duration" class="btn btn-link text-black"/>
                </form>
            </th>
            <th scope="col" class="text-center">
                <input type="submit" value="Owner" class="btn btn-link text-black"/>
            </th>
            <th sec:authorize="hasRole('ADMIN')" th:if="${all}" scope="col" class="text-center">
                <input type="submit" value="isDeleted" class="btn btn-link text-black"/>
            </th>
            <th scope="col" class="text-center">
                <input type="submit" value="Action" class="btn btn-link text-black"/>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="activity : ${activities}">
            <th class="text-center" scope="row" th:text="${activityStat.index + 1}">1</th>
            <td class="text-center" th:text="${#temporals.format(activity.getDateTime(),'dd/MM/yyyy HH:mm')}">Mark</td>
            <td class="text-center"
                th:if="${activity.getSport() == T(com.jaworski.sportdiary.domain.enums.Sport).RUNNING}">
                <small>Run<br></small>
                <img width="24px" height="24px" th:src="@{/img/run.svg}" th:alt="${'Run'}" src="" alt="run"></td>
            <td class="text-center"
                th:if="${activity.getSport() == T(com.jaworski.sportdiary.domain.enums.Sport).ULTRA_RUNNING}">
                <small>Ultra<br/></small><img
                    width="24px" height="24px"
                    th:src="@{/img/ultra.svg}" th:alt="${'Run'}"></td>
            <td class="text-center"
                th:if="${activity.getSport() == T(com.jaworski.sportdiary.domain.enums.Sport).JOGA}">
                <small>Joga<br/></small><img width="24px" height="24px" th:src="@{/img/joga.svg}" th:alt="${'Joga'}">
            </td>
            <td class="text-center"
                th:if="${activity.getSport() == T(com.jaworski.sportdiary.domain.enums.Sport).CYCLING}">
                <small>Cycling<br></small><img
                    width="24px" height="24px"
                    th:src="@{/img/bicycle.svg}" th:alt="${'Bicycle'}"></td>
            <td class="text-center" th:if="${activity.getSport() == T(com.jaworski.sportdiary.domain.enums.Sport).GYM}">
                <small>Gym<br></small><img
                    width="24px"
                    height="24px"
                    th:src="@{/img/gym.svg}"
                    th:alt="${'Gym'}">
            </td>
            <td class="text-center"
                th:if="${activity.getSport() == T(com.jaworski.sportdiary.domain.enums.Sport).SWIMMING}">
                <small>Pool<br/></small><img width="24px"
                                             height="24px"
                                             th:src="@{/img/pool.svg}"
                                             th:alt="${'Swim'}">
            </td>
            <td class="text-center"
                th:if="${activity.getSport() == T(com.jaworski.sportdiary.domain.enums.Sport).OTHER}">
                <small>Other<br/></small><img width="24px"
                                              height="24px"
                                              th:src="@{/img/question.svg}"
                                              th:alt="${'other'}">
            </td>
            <td class="text-center"
                th:if="${activity.getSport() == T(com.jaworski.sportdiary.domain.enums.Sport).HIKING}">
                <small>Hiking<br/></small><img width="24px"
                                               height="24px"
                                               th:src="@{/img/question.svg}"
                                               th:alt="${'hikinig'}">
            </td>
            <td class="text-center"
                th:text="${activity.getDistance().distanceOf + ' - ' + activity.getDistance().getUnits()}">Otto
            </td>
            <td class="text-center" th:text="${activity.getDuration()} + ' [minutes]'">Otto</td>
            <td class="text-center" th:text="${activity.getUser().getFirstName()}">Otto</td>
            <td sec:authorize="hasRole('ADMIN')" th:if="${all}" class="text-center">
                <img th:if="${activity.isDeleted()}" th:src="@{/img/checked.svg}" src="" alt="checked" th:width="32"
                     th:height="auto"/>
                <img th:unless="${activity.isDeleted()}" th:src="@{/img/unchecked.svg}" src="" alt="unchecked"
                     width="32" height="auto"/>
            </td>
            <td class="text-center">
                <a sec:authorize="isAnonymous() || isAuthenticated()" class="btn btn-primary mx-2" href="#"
                   th:href="@{'/user/more?id=' + ${activity.getId()}}"
                   role="button">More</a>
                <a sec:authorize="isAuthenticated()" class="btn btn-secondary mx-2" href="#"
                   th:href="@{'/user/edit?id=' + ${activity.getId()}}"
                   role="button">Edit</a>
                <a sec:authorize="isAuthenticated()" th:if="${!activity.isDeleted()}" class="btn btn-warning mx-2"
                   href="#"
                   th:href="@{'/user/delete?id=' + ${activity.getId()}}"
                   role="button">Delete</a>
                <a sec:authorize="isAuthenticated()" th:if="${activity.isDeleted()}" class="btn btn-success mx-2"
                   href="#"
                   th:href="@{'/user/restore?id=' + ${activity.getId()}}"
                   role="button">Restore</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="container" th:insert="foot::foot"></div>
</body>
</html>