<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:insert="head::head (title='login')">
    </head>
</head>
<body>
<div class="container">
    <div class="col-5"></div>
    <div class="col-3 form-control">
        <h1>Login</h1>
        <div class="alert-warning" th:if="${param.error}">
            Invalid username and password.
        </div>
        <div class="alert-info" th:if="${param.logout}">
            You have been logged out.
        </div>
        <form class="form-control rounded-2 m-1" th:action="@{/login}" method="post">
            <div><label> User Name : <input class="input-group m-1" type="text" name="username" placeholder="login"/> </label></div>
            <div><label> Password: <input class="input-group m-1" type="password" name="password" placeholder="password"/> </label></div>
            <div><input class="btn btn-primary m-1" type="submit" value="Sign In"/>
                <input class="btn btn-secondary m-1" type="reset" value="Reset"/>
            </div>
        </form>
    </div>
    <div class="col-5"></div>
</body>
</html>