<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:insert="head::head(title='more')">
    <title></title>
</head>
<body>
<div class="container" th:insert="nav::nav"></div>
<div class="container"><h1 class="text-center">Details!</h1></div>
<div class="container">
    <div class="row">
        <div class="col-4">
            <div th:if="${activity.getSport() == T(com.jaworski.sportdiary.domain.enums.Sport).CYCLING}" class="text-center">
                <img th:src="@{/img/bicycle.svg}" width="200px" height="auto" class="">
            </div>
            <div th:if="${activity.getSport() == T(com.jaworski.sportdiary.domain.enums.Sport).RUNNING}" class="text-center">
                <img th:src="@{/img/run.svg}" width="200px" height="auto" class="">
            </div>
            <div th:if="${activity.getSport() == T(com.jaworski.sportdiary.domain.enums.Sport).ULTRA_RUNNING}"
                 class="text-center">
                <img th:src="@{/img/ultra.svg}" width="200px" height="auto" class="">
            </div>
            <div th:if="${activity.getSport() == T(com.jaworski.sportdiary.domain.enums.Sport).JOGA}" class="text-center">
                <img th:src="@{/img/joga.svg}" width="200px" height="auto" class="">
            </div>
            <div th:if="${activity.getSport() == T(com.jaworski.sportdiary.domain.enums.Sport).GYM}" class="text-center">
                <img th:src="@{/img/gym.svg}" width="200px" height="auto" class="">
            </div>
            <div th:if="${activity.getSport() == T(com.jaworski.sportdiary.domain.enums.Sport).SWIMMING}" class="text-center">
                <img th:src="@{/img/pool.svg}" width="200px" height="auto" class="">
            </div>
            <div th:if="${activity.getSport() == T(com.jaworski.sportdiary.domain.enums.Sport).OTHER}" class="text-center">
                <img th:src="@{/img/question.svg}" width="200px" height="auto" class="">
            </div>
        </div>
        <div class="col-4">
            <h2 th:text="${'Czas aktywności: '+ #temporals.format(activity.getDateTime(),'dd/MM/yyyy - HH:mm')}"></h2>
            <h2 th:text="${'Dystans aktywności: '+ activity.getDistance().getDistanceOf() + ' '+ activity.getDistance().getUnits()}"></h2>
            <h2 th:text="${'Długość aktywności: ' + activity.getDuration() + 'min'}"></h2>
            <h2 th:text="${'Rodzaj aktywnośći: ' + activity.getSport().getName()}"></h2>

        </div>
        <div class="col-4"></div>
    </div>
</div>
<div class="container" th:insert="foot::foot"></div>
</body>
</html>