<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" th:src="@{/js/time.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap/bootstrap.bundle.min.js}"></script>
</head>
<body onload="startTime()">
<div th:fragment="nav"
     style="background: rgb(2,0,36);background: linear-gradient(0deg, rgba(2,0,36,0) 0%, rgba(0,212,255,1) 100%);"
     class="rounded-3">
    <body style="background: #0b5ed7"></body>
    <hr/>
    <div class="container my-5 ">
    </div>
    <div class="container text-center my-2 ">
        <form class="form-control-plaintext" th:action="@{/logout}" method="post">
            <a class="btn btn-link mx-2 bg-light" href="#" th:href="@{/user}" role="button">Home</a>
            <a class="btn link-info bg-light mx-2" href="#" th:href="@{/user/add}" role="button">Add</a>
            <a class="btn btn-warning mx-2" href="#" th:href="@{/user/save}" role="button">Save</a>
            <input class="btn btn-warning mx-5 my-3" type="submit" value="Logout">
        </form>
    </div>
</div>
</body>
</html>