<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="nav">
    <hr/>
    <div class="container my-5">
    </div>
    <div class="container text-center ">
        <a class="btn btn-link mx-5" href="#" th:href="@{/}" role="button">Home</a>
        <a class="btn link-info" href="#" th:href="@{/add}" role="button">Add</a>
        <a class="btn btn-warning mx-5" href="#" th:href="@{/save}" role="button">Save</a>
    </div>
</div>
</body>
</html>