<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="nav"
     style="background: rgb(2,0,36);background: linear-gradient(0deg, rgba(2,0,36,0) 0%, rgba(0,212,255,1) 100%);"
     class="rounded-3">
    <body style="background: #0b5ed7"></body>
    <hr/>
    <div class="container my-5 ">
    </div>
    <div class="container text-center my-2 ">
        <a class="btn btn-link mx-5 bg-light" href="#" th:href="@{/}" role="button">Home</a>
        <a class="btn link-info bg-light" href="#" th:href="@{/add}" role="button">Add</a>
        <a class="btn btn-warning mx-5 my-3" href="#" th:href="@{/save}" role="button">Save</a>
    </div>
</div>
</body>
</html>