<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:insert="head::head (title='signup')">
    </head>
</head>
<body>
<div class="container"></div>
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 my-4 rounded-3 mx-4 p-5"
             style="background: rgb(2,0,36);background: linear-gradient(0deg, rgba(2,0,36,0) 0%, rgba(0,212,255,1) 100%);">
            <h1 class="text-center p-3">Signup</h1>
            <form class="form-control rounded-2 m-1" th:action="@{/signup}" method="post" th:object="${user}">
                <div class="text-center">
                    <label for="firstName" th:text="#{'First name'}"> </label>
                    <input class="input-group m-1" type="text" id="firstName" name="firstName" th:field="*{firstName}"
                           placeholder="first name"/>
                    <span class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
                </div>
                <div class="text-center">
                    <label> User e-mail :
                        <input class="input-group m-1" type="email" name="email" th:field="*{email}"
                               placeholder="e-mail"/>
                    </label>
                    <span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>

                </div>
                <div class="text-center">
                    <label> User Name :
                        <input class="input-group m-1" type="password" name="password" th:field="*{password}"
                               placeholder="password"/>
                    </label>
                    <span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>

                </div>
                <div class="text-center">
                    <input class="btn btn-primary m-1" type="submit" value="Sign In"/>
                    <input class="btn btn-secondary m-1" type="reset" value="Reset"/>
                </div>
            </form>
        </div>
        <div class="col col-4"></div>
    </div>
</div>

</body>
</html>